
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: center;}
        div{text-align: center;}
    </style>
</head>
<body style="background-color:burlywood;">
        <h1>Vignesh Manikandan - 1002012757</h1> 
        <br>
        <div>   
            <a href="/">Home Page</a>
        </div>    
		<br> <br>
        
        <div class='container'>
            <h4>Select the column for which you wanna check based on range.</h4>
			<a href="/numrange">Num</a><br><br>
			<a href="/yearrange">Year</a><br><br>
		</div>
</body>
</html>