
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: center;}
        div{text-align: center;}
    </style>
</head>
<body style="background-color:burlywood;">
		<h1>Vignesh Manikandan - 1002012757</h1> 
        <br>
		<div>
            <a href="/">Home Page</a>
		</div>		
		<br> <br>
	<div>
		<form method="POST" action="/keyupdate" >
			Input name <input type = "text" name = "name" />
			<br>
			<br>
			New comment <input type = "text" name = "keyword" />
			<br>
			<br>
			New num <input type = "text" name = "num" />
			<br>
			<br>
			<input type = "submit" name = "Update"/>
		 </form>
	</div> 
</body>
</html>