
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: center;}
        div{text-align: center;}
    </style>
</head>
<body style="background-color:burlywood;">
        <h1>Vignesh Manikandan - 1002012757</h1> 
        <br>
        <div>   
            <a href="/">Home Page</a>
        </div>    
		<br> <br>
    <div>
		<form method="POST" action="/year" >
			year range between <input type = "text" name = "range1" /> to <input type = "text" name = "range2" />
            <br>
            <br>
			<input type = "submit" name = "yearran"/>
		 </form>
    </div>
</body>
</html>